* {
  box-sizing: border-box;
}
.FormContainer {
  height: 270px;
}
.AddressContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 10px;
  grid-column-gap: 30px;
}
.FormTitle {
  font-size: 24px;
  margin-bottom: 15px;
}

.InputLabel {
  margin: 0px;
  margin-bottom: 8px;
  font-size: small;
  color: rgb(58, 58, 58);
  font-weight: 600;
}

.Input {
  height: 40px;
  padding: 10px 15px;
  width: 100%;
  border: 1px darkgray solid;
  border-radius: 5px;
}

.Select {
  composes: Input;
  height: 41px;
}

.Pronouns {
  grid-column: 1/5;
  grid-row: 1/2;
}
.Name {
  grid-column: 5/13;
  grid-row: 1/2;
}
.Phone {
  grid-column: 1/7;
  grid-row: 2/3;
}
.Email {
  grid-column: 7/13;
  grid-row: 2/3;
}
.City {
  grid-column: 1/5;
  grid-row: 3/4;
}
.Address {
  grid-column: 5/13;
  grid-row: 3/4;
}
