.ProgressControlContainer {
  margin-top: 80px;
}
.ButtonGroup {
  display: flex;
  justify-content: space-between;
}
.Hr {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 10px;
}

.FisrtNextStep {
  display: flex;
  justify-content: flex-end;
}

.NextStepButton {
  color: white;
  background-color: rgb(245, 115, 153);
  border: 0px;
  border-radius: 10px;
  width: 170px;
  padding: 13px 13px;
  margin-top: 10px;
}

.PreStepButton {
  background-color: white;
  border: 0px;
  border-radius: 10px;
  padding: 13px 40px;
  margin-top: 10px;
}

.DisabledPreStepButton {
  visibility: hidden;
}

.NextStepButton:hover {
  cursor: pointer;
}
.PreStepButton:hover {
  cursor: pointer;
}

.Arrow {
  margin-left: 10px;
}
