.Body {
  width: 1110px;
  margin: 0 auto;
}

.Container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.LeftContainer {
  margin-right: 50px;
}

.RightContainer {
  width: 400px;
  margin: 100px 0px 0px 50px;
  border: 1px lightgray solid;
  border-radius: 5px;
}
